<% include ./layout/main %>




<div class="container">

  <div class="jumbotron mt-5">

    <h1>Auth With Express</h1>
    <p>Its awesome! Try it for yourself!</p>



    <a href="/user/signin"><button type="submit" class="btn btn-primary">Sign In</button></a>
    <a href="/user/signup"><button type="submit" class="btn btn-danger">Sign Up</button></a>

  </div>
</div>